@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.inline{
    padding: 30px;
    background: rgb(94,216,242);
    background: linear-gradient(135deg, rgba(94,216,242,1) 0%, rgba(0,85,182,1) 100%);
    width: 300px;
    height: 400px;
}
h1{
    font-size: 20px;
    color: white;
}
textarea{
    height: 150px;
    width: 250px;
    resize: none;
    outline: none;
    padding: 10px;
    width: 280px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
}
input:not([type=submit]){
    outline: none;
    padding: 10px;
    width: 280px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
}
input::placeholder, textarea::placeholder{
    color: rgb(255, 255, 255);
    opacity: 0.9;
}
input[type=submit]{
    margin-top: 10px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 4px;
    border: none;
    background: #00b585;
    color: white;
}
.info{
    padding: 30px;
    background: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
}
.godfather{
    margin: 0 auto;
    display: flex;
    width: 720px;
    box-shadow: 0 0 10px rgb(212, 212, 212);
}
.bolinha{
    border-radius: 100px;
    border: 1px solid rgb(235, 235, 235);
    padding: 12px;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
h2{
    font-weight: 300;
    margin-bottom: 3px;
}
.align{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
i{
    display: block;
}
.underline{
    background-color: #00b585;
    height: 3px;
    width: 50px;
    margin-bottom: 10px;
}
.uta{
    font-size: 0.8rem;
    color: rgb(131, 131, 131);
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 40px;
}
p{
    margin: 0;
    font-size: 0.7rem;
    color: rgb(114, 114, 114);
    font-weight: bold;
}
.black-text{
    color: black;
}